body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}
.header{
    background: #ebebeb;
    clear: both;
    overflow: auto;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: -50px;
    padding: 20px;
}
nav{
    background: #ebebeb;
    margin-left: 150px;
    margin-right: -50px;
    margin-top: -10px;
    clear: both;
    overflow: auto;
    padding: 20px;
}
.a1{
    background: #ebebeb;
    height: 200px;
    width: 40%;
    margin: 20px 150px;
    padding: 40px;
}
.a3{   
    color: #777;
    background: #ebebeb;
    padding: 15px;
    height: 20px;
    margin-bottom: -5px;
    margin-top: 15px;
}
.a4{
    color: #ebebeb;
    background: #777;
    height: 145px;
    margin-top: 25px;
    margin-right: -30px;
    margin-left: -30px;
    padding: 20px;
}
.lonely{
    background: #ebebeb;
    width: 33%;
    height: 220px;
    float: right;
    padding: 30px;
    margin-left: -44px;
    margin-right: -50px;
}
.f1{
    background: #ebebeb;
    clear: both;
    overflow: auto;
    margin-top: 20px;
    margin-right: -50px;
    margin-top: 20px;
    margin-left: 150px;
    padding: 20px;
}

/* header, nav, section, aside, footer {
    background: #ebebeb;
    }
article{
    color: #ebebeb;
    background: #777;
    height: 80%;
    width: 510px;
    margin-top: 50px;
    
}
p {
    color: #777;
    background: #ebebeb;
    padding: 20px;

}
section{
    width: 49.5%;
    height: 250px;
    padding: 30px;
    margin-left: 150px;
   


}
.lonley{
padding: 20px;
width: 41.5%;
height: 250px;
background-color: aqua;
margin-right: 1%;
}
header,nav,footer { 
    clear: both;
    overflow: auto;
    padding: 30px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: -50px;

}
footer{
    margin-top: 20px;
}
 */
